{% extends "layout.html" %}

{% block title %}Register Admin{% endblock %}

{% block content %}
	<br><br>
	<center><h1>Register Admin</h1></center>
	<br>
	<h3>Please fill out the following information:</h3>
	<form method = "POST">
		<i>Name:</i> <input type = "text" name = "name" required><br>
		<i>Email-id:</i> <input type = "email" name = "email_id" required><br>
		<i>Password:</i> <input type = "password" name = "password" required><br>
		<input type = "submit" value = "Submit">
	</form>
{% endblock %}
